@import 'base/base';
@import 'base/typography';
@import 'base/utilities';
@import 'base/animations';
@import 'base/layout';

@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/fucntions';

@import 'components/button';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

img {
    display: block;
    border: none;
}

a:link,
a:visited {
    text-decoration: none;
    display: block;
}

body {
    font-family: $font-family-suit;
    font-weight: 400;
    line-height: 1.7;
    box-sizing: border-box;
}

.title {
    background-color: $color-primary;
    font-family: $font-family-score;
    text-align: center;
    padding: 10rem 0 5rem 0;

    &__heading-primary {
        font-weight: 600;
        @include purple-shadow;

        &--main-normal {
            font-size: 5rem;
            color: $color-white;
        }

        &--main-yellow {
            font-size: 5rem;
            color: $color-yellow;
        }

        &--sub {
            display: block;
            font-size: 2rem;
            font-weight: 500;
            color: $color-white;
            letter-spacing: 0.1rem;
        }
    }
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    padding: 10rem;

    &__heading-secondary {
        font-size: 2.6rem;
        font-family: $font-family-score;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    &__description {
        font-size: 2rem;
    }

    &__img-wrap {
        width: 40rem;
    }

    &__img {
        width: 100%;
    }
}

.screen {
    border-radius: 1rem;

    &--purple {
        padding: 3rem;
        background-color: $dark-purple;
    }

    &__item {
        // height: 25rem;
        padding: 3rem 2rem;
        background-color: $color-white;
        border-radius: 2rem;
        margin-bottom: 1rem;

        position: relative;

        // @include flex-column;

        &::before {
            @include before;
            width: 5rem;
            height: 5rem;
            top: -5%;
            left: -5%;
            background-image: url(/img/Ok.png);
            background-size: contain;
        }
    }

    &__item--gray {
        padding: 2.3rem 2rem;

        &::before {
            display: none;
        }
    }

    &__item-inner {
        display: flex;
        flex-direction: column;

        &:not(:first-child) {
            margin-top: 2rem;
        }

        &--right {
            align-items: end;
        }

        &--left {
            align-items: start;
        }
    }

    &__talk {
        font-size: 1.4rem;
        padding: 0.7rem 1rem;

        &--filled {
            background-color: $color-primary;
            border: 2px solid $color-primary;
            text-shadow: 0px 2px 1px $dark-purple;

            color: $color-white;
            @include chat-right;
        }

        &--lined {
            border: 2px solid $color-primary;
            @include chat-left;
        }

        &--grayfill {
            background-color: $dark-gray;
            border-color: $dark-gray;
        }

        &--grayline {
            border-color: $dark-gray;
        }
    }

    &__time {
        display: table;
        margin-top: 5px;
        font-size: 1.3rem;
        color: $color-black;
        background-color: $light-gray;
        padding: 0 6px;
        border-radius: 10px;
    }

    &__narrator {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: -1.5rem;
    }

    &__line {
        display: block;
        height: 1px;
        width: 30%;
        background-color: $dark-gray;
    }
}

.description {
    @include flex-column;
    align-items: start;
    margin-right: 3rem;

    &__title {
        @include haeding-dark-purple;
        margin-bottom: 2rem;

        &--box {
            padding: 0 0 0 3px;
            position: relative;
            z-index: 0;

            &::before {
                @include before;
                background-color: $light-purple;
                width: 110%;
                height: 70%;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);

                z-index: -1;
            }
        }
    }

    &__sub {
        font-size: 1.6rem;
        text-align: left;
    }
}

.list {
    position: relative;
    // overflow: hidden;
}

.service-list-wrap {
    position: relative;
    width: 88rem;
    display: flex;
    align-items: center;

    transition: all 1s;
}

.service-list {
    position: absolute;
    padding: 3rem;
    border-radius: 2rem;

    &:nth-child(1) {
        position: relative;
        z-index: 3;
        left: 0;
    }

    &:nth-child(2) {
        padding: 2rem;
        z-index: 2;
        left: 12rem;
    }

    &:nth-child(3) {
        padding: 0.9rem 1.5rem 0.9rem 0.9rem;
        z-index: 1;
        left: 24rem;
    }

    &--dark {
        background-color: $dark-purple;
    }

    &--primary {
        background-color: $color-primary;
    }

    &--vivid {
        background-color: $vivid-purple;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        color: $color-white;
        width: 8rem;
        font-size: 2.2rem;
        @include light-shadow;
    }
}

.info-list {
    background-color: $color-white;
    width: 48rem;
    padding: 2rem;
    margin-right: 2rem;
    border-radius: 2rem;

    &__item {
        font-family: $font-family-score;
        font-weight: 500;
        font-size: 1.8rem;
        text-align: left;

        padding: 0.8rem;
    }

    &__sub {
        font-family: $font-family-suit;
        font-size: 1.5rem;
        font-weight: 400;
        margin-left: 0.5rem;
    }
}
