@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/fucntions';

@import 'base/base';
@import 'base/typography';
@import 'base/utilities';
@import 'base/animations';

@import 'components/button';
@import 'components/screen';
@import 'components/list';

@import 'layout/layout';

.title {
    background-color: $color-primary;
    font-family: $font-family-score;
    text-align: center;
    padding: 10rem 0 5rem 0;

    &__heading-primary {
        font-weight: 600;
        @include purple-shadow;

        &--main-normal {
            font-size: 5rem;
            color: $color-white;
        }

        &--main-yellow {
            font-size: 5rem;
            color: $color-yellow;
        }

        &--sub {
            display: block;
            font-size: 2rem;
            font-weight: 500;
            color: $color-white;
            letter-spacing: 0.1rem;
        }
    }
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    padding: 10rem;

    &__heading-secondary {
        font-size: 2.6rem;
        font-family: $font-family-score;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    &__description {
        font-size: 2rem;
    }

    &__img-wrap {
        width: 40rem;
    }

    &__img {
        width: 100%;
    }
}
