@mixin chat-right {
    border-radius: 1rem 1rem 0 1rem;
    margin-left: 3rem;
    text-align: left;
}

@mixin chat-left {
    border-radius: 1rem 1rem 1rem 0;
    margin-right: 3rem;
    text-align: left;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin before {
    content: '';
    display: block;
    position: absolute;
}

@mixin purple-shadow {
    text-shadow: 0px 2px 1px $color-tertiary;
}

@mixin light-shadow {
    text-shadow: 0px 1px 1px $color-tertiary;
}

@mixin remove-shadow {
    text-shadow: none;
}

@mixin haeding-dark-purple {
    font-family: $font-family-score;
    font-size: 2.2rem;
    font-weight: 600;
    color: $color-tertiary;
    letter-spacing: 0.1rem;
}

@mixin absolute-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin title-style {
    font-size: 2.2rem;
    font-weight: 600;
    color: $color-tertiary;
    letter-spacing: 0.1rem;
    font-family: $font-family-score;
}

@mixin content-style {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    letter-spacing: 0.1rem;
    font-family: $font-family-score;
}

// MEDIA QUERY MANAGER
/*
0 - 600px: phone
600 - 900px: tablet portrait
900 - 1200px: tablet landscape
[1200 - 1800] is where our normal styles apply
1800px +: big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {
            //600px - 600/16
            @content;
        }
    }
    @if $breakpoint == tab-port {
        //900px - 900/16
        @media (max-width: 56.25em) {
            @content;
        }
    }
    @if $breakpoint == tab-land {
        //1200px - 1200/16
        @media (max-width: 75em) {
            @content;
        }
    }
    @if $breakpoint == big-desktop {
        //1920px - 1920/16
        @media (min-width: 120em) {
            @content;
        }
    }
}
