$color-primary: #6200ee;
$color-secondary: #f0e9fb;
$vivid-purple: #b57cff;
$light-purple: #eadcff;
$dark-purple: #3c0092;
$color-white: #ffffff;
$color-gray: #eeeeee;
$color-yellow: #ffd500;

$font-family-suit: 'SUIT-Regular', sans-serif;
$font-family-score: 'SCoreDream', sans-serif;
