$color-primary: #6200ee;
$color-secondary: #f0e9fb;
$color-tertiary: #3c0092;

$vivid-purple: #b57cff;
$light-purple: #eadcff;

$color-white: #ffffff;
$color-black: #000000;
$color-yellow: #ffd500;

$light-gray: #eeeeee;
$dark-gray: #444;

$font-family-suit: 'SUIT-Regular', sans-serif;
$font-family-score: 'SCoreDream', sans-serif;

$shadow-light: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
