.right-in {
    animation: rightIn 1s;
}

.left-in {
    animation: leftIn 1s;
}

@keyframes rightIn {
    from {
        left: 0.5rem;
    }
    to {
        left: 0;
    }
}

@keyframes lefttIn {
    from {
        left: -0.5rem;
    }
    to {
        left: 0;
    }
}
